/* КАСТОМНЫЕ СТИЛИ */
.font-w600 {font-weight: 600 !important;}
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.cursor-p {cursor: pointer}
.display-none {display: none !important;}

.mb-14 {margin-bottom: 14px;}
.mb-16 {margin-bottom: 16px;}
.mb-43 {margin-bottom: 43px;}

.width-100 {width: 100% !important;}
.pl-0 {padding-left: 0px!important;}

/* ================================================================ */
/* checkbox на странице авторизации / регистрации */
.custom-form-check_custom {
    margin-bottom: 30px;
}
.custom-form-check_custom input[type=checkbox] {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}
.custom-form-check_custom input[type=checkbox]:before {
    top: -3px;
    left: -5px;
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
}
.custom-form-check_custom input[type=checkbox]:after {
    left: 0;
    top: -2px;
    opacity: 0;
    font-size: 12px;
    content: '\f00c';
    font-weight: 900;
    position: absolute;
    color: #222222;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-family: 'Font Awesome 5 Free';
}
.custom-form-check_custom-checked:after {
    opacity: 1!important;
}
/* checkbox на странице авторизации / регистрации end */

/* мини корзина -------------------- --- */
.mini-cart_empty-wrapper {
    height: 150px;
}
.mini-cart_empty-text {
    width: max-content;
    margin: 0 auto;
    padding-top: 62px;
    font-size: 16px;
    font-weight: 600;
    color: #222222;
    text-transform: uppercase;
}
/* мини корзина -------------------- end */

/* контакты -------------------- --- */
.contacts-map_wrapper {
    width: 50%;
    height: 500px;
}
.contacts-map_google-map {
    width: 100%;
    height: 100%;
}

.contacts-form_label-file {
    margin: 0px;
    width: 100%;
    height: 50px;
    padding: 0px 20px;
    border-radius: 3px;
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 1px solid #f0f0f0;
    cursor: pointer;
}
/* контакты -------------------- end */

/* админ панель --------------------------------- */
.admin-pagination {
    width: max-content;
    margin-left: auto;
}
.btn-group_table-custom {
    margin-left: auto;
    margin-right: 0px;
    display: table;
    min-width: 92px;
    text-align: right;
}
/* админ панель ----------------------------- end */
/* ======================================================================= */
.reset-password_form-block {
    max-width: 644px;
    margin: 0 auto;
}
.auth-pass_input-custom {
    margin-bottom: 50px;
}
.section-title_checkout-custom {
    padding-bottom: 13px;
}

.cart_add-plus_minus-container {
    width: max-content;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 1px;
    height: 44px;
    padding-top: 4px;
}
.cart_add-minus {
    font-size: 18px;
    padding: 2px 16px;
    border-radius: 3px;
    color: #222222;
    border: 2px solid #f0f0f0;
    cursor: pointer;
    height: 36px;
    transition: all 0.3s ease-in-out;
}
.cart_add-minus:hover {
    color: #ffffff;
    background-color: #f5f5f5;
    transition: all 0.3s ease-in-out;
}
.cart_add-plus {
    font-size: 18px;
    padding: 4px 16px;
    border-radius: 3px;
    color: #ffffff;
    border-color: #1ec7a6;
    background-color: #1ec7a6;
    cursor: pointer;
    height: 36px;
    transition: all 0.3s ease-in-out;
}
.cart_add-plus:hover {
    color: #ffffff;
    border-color: #1ec7a6;
    background-color: #3adebe;
    transition: all 0.3s ease-in-out;
}
.cart_add-plus_minus-count {
    padding: 4px 16px;
    border-radius: 3px;
    color: #222222;
    font-size: 17px;
    margin-top: 1px;
}
.checkout_products-block {
    margin-bottom: 0px;
}
.checkout_product-block {
    margin-bottom: 30px;
}

.product-details-section .product-details .product-details-carousel .slider-for .item img {
    height: auto;
    max-height: 100%;
}

.attribute-value_disabled {
    opacity: 0.3;
}
.attribute-value_disabled:hover {
    color: #1ec7a6;
    border-color: #ffffff;
    background-color: #ffffff;
}

.cart-items-container {
    opacity: 1 !important;
    visibility: visible !important;
}